$secondary-palette: (
  50 : #e6e4e8,
  100 : #bfbcc5,
  200 : #95909f,
  300 : #6b6378,
  400 : #4b415b,
  500 : #2b203e,
  600 : #261c38,
  700 : #201830,
  800 : #1a1328,
  900 : #100b1b,
  A100 : #895dff,
  A200 : #642aff,
  A400 : #4300f6,
  A700 : #3c00dc,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$primary-palette: (
  50 : #e0e0e0,
  100 : #b3b3b3,
  200 : #808080,
  300 : #4d4d4d,
  400 : #262626,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$warn-palette: (
  50 : #f4e8eb,
  100 : #e4c5cd,
  200 : #d39fac,
  300 : #c1798a,
  400 : #b35c71,
  500 : #a63f58,
  600 : #9e3950,
  700 : #953147,
  800 : #8b293d,
  900 : #7b1b2d,
  A100 : #ffb5c1,
  A200 : #ff8296,
  A400 : #ff4f6b,
  A700 : #ff3656,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);
