<div class="bar">
  <button mat-icon-button class="bar__btn" (click)="previous()">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <div class="bar__middle" (click)="picker.open()">
    <span class="bar__day">
      {{ date.toDate() | date: 'dd MMMM' }}
    </span>
    <mat-form-field style="width:1px;visibility:hidden;">
      <input matInput [matDatepicker]="picker" (dateInput)="writeValue($event.value)">
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
    <mat-icon>
      expand_more
    </mat-icon>
  </div>

  <button mat-icon-button class="bar__btn" (click)="next()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
