<div class="detail">
  <div class="detail__container">
    <mat-card class="detail__info">
      <mat-card-header>
        <mat-card-title>Detalhes do campo</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <ng-container *ngIf="dataSource$ | async as data; else LoadingTemplate">
          <div class="detail__data">
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput [value]="data.name" readonly>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Descrição</mat-label>
              <textarea matInput [value]="data.description" [rows]="5" readonly></textarea>
            </mat-form-field>
          </div>
        </ng-container>

        <ng-template #LoadingTemplate>
          <div class="detail__loading">
            <mat-spinner [diameter]="30"></mat-spinner>
          </div>
        </ng-template>
      </mat-card-content>

      <mat-card-actions>
        <div class="detail__actions">
          <button mat-flat-button routerLink="/painel/campos">
            <mat-icon>replay</mat-icon>
            Voltar
          </button>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card class="detail__files">
      <mat-card-header class="detail__header">
        <mat-card-title class="detail__title">
          <span>Imagens de Campo</span>
          <button color="primary" (click)="openUploadModal()" mat-raised-button>
            <mat-icon>add</mat-icon>
            Adicionar
          </button>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <app-field-file-table [id]="id" [refresh$]="refresh$"></app-field-file-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
