<h2 mat-dialog-title>Upload de Imagem</h2>

<mat-dialog-content>
  <input #iptFile type="file" [hidden]="true" (change)="onFileChange(iptFile)"/>

  <mat-form-field appearance="outline">
    <input matInput [readonly]="true" [value]="selectFile?.name"/>
    <button matSuffix mat-icon-button type="button" [disableRipple]="true" (click)="iptFile.click()">
      <mat-icon>upload</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button style="width: 100%" mat-flat-button type="button" (click)="upload()">
    <mat-icon>save</mat-icon>
    Salvar
  </button>
</mat-dialog-actions>
