<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Acesse sua conta:</mat-card-title>
    </mat-card-header>

    <form class="container__card" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div class="container__form">
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" formControlName="email" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="password" />
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-footer>
        <div class="container__action">
          <app-send-button [loading]="loading">Entrar</app-send-button>
        </div>

        <div class="container__forgot-password">
          <a mat-button routerLink="recuperacao">Esqueceu sua senha?</a>
        </div>
      </mat-card-footer>
    </form>
  </mat-card>
</div>
