<table [dataSource]="users" mat-table>
  <ng-container matColumnDef="email">
    <th *matHeaderCellDef mat-header-cell>E-mail</th>
    <td *matCellDef="let element" mat-cell> {{ element.email }} </td>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <th *matHeaderCellDef class="phone" mat-header-cell>Telefone</th>
    <td *matCellDef="let element" class="phone" mat-cell> {{ element?.phoneNumber }} </td>
  </ng-container>

  <ng-container matColumnDef="admin">
    <th *matHeaderCellDef class="role" mat-header-cell>Tipo de Usuário</th>
    <td *matCellDef="let element" class="role" mat-cell>
      <mat-chip-list>
        <mat-chip [disableRipple]="true" class="role" color="{{ element.admin ? 'warn' : 'primary' }}" selected>
          {{ element.admin ? 'Administrador' : 'Usuário' }}
        </mat-chip>
      </mat-chip-list>
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th *matHeaderCellDef mat-header-cell></th>
    <td *matCellDef="let element" mat-cell>
      <div class="actions">
        <app-promote-to-admin (onRoleChange)="reloadItems.emit()" *ngIf="!element.admin" [uid]="element.uid"></app-promote-to-admin>
        <app-demote-to-user (onRoleChange)="reloadItems.emit()" *ngIf="element.admin" [uid]="element.uid"></app-demote-to-user>
      </div>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="headerColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: headerColumns;" mat-row></tr>
</table>
