<div class="field">
  <mat-card class="field__card">
    <mat-card-header>
      <mat-card-title>{{ patchValue ? 'Editar' : 'Cadastrar' }} campo</mat-card-title>
    </mat-card-header>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-card-content>
        <div class="field__row">
          <div class="field__group">
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="name">
              <mat-error *ngIf="form.get('name')?.touched && form.get('name')?.hasError('required')">
                Campo Obrigatório!
              </mat-error>
            </mat-form-field>

            <div class="field__row" formGroupName="config">
              <mat-form-field appearance="outline">
                <mat-label>Duração (minutos)</mat-label>
                <input matInput type="number" formControlName="duration" [min]="10">
                <span matSuffix>min</span>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Valor</mat-label>
                <input matInput type="number" formControlName="price" [min]="0">
                <span matSuffix>R$</span>
                <mat-error *ngIf="form.get('config.price')?.touched && form.get('config.price')?.hasError('min')">
                  Insira um valor!
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="field__group">
            <mat-form-field appearance="outline">
              <mat-label>Descrição</mat-label>
              <textarea matInput formControlName="description" [rows]="5"></textarea>
              <mat-error *ngIf="form.get('description')?.touched && form.get('description')?.hasError('required')">
                Campo Obrigatório!
              </mat-error>
            </mat-form-field>
          </div>
        </div>


        <div class="field__group field__row--start-at" formGroupName="config">
          <mat-label>Horário de Início:</mat-label>
          <app-timepicker formControlName="startAt"></app-timepicker>
        </div>

        <div class="field__group field__group--ignored-our" formGroupName="config">
          <mat-label>Horários Ignorados:</mat-label>
          <app-ignored-hours-input [suggestions]="ignoredHourSuggestion" formControlName="ignoredHours"></app-ignored-hours-input>
        </div>
      </mat-card-content>

      <mat-card-actions class="field__actions">
        <button type="button" mat-button routerLink="/painel/campos" [disabled]="submitting">Cancelar</button>
        <button mat-raised-button color="primary" [disabled]="submitting">
          <mat-icon>save</mat-icon>
          Salvar
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
