<div class="field">
  <mat-card class="field__card">
    <mat-card-header>
      <mat-card-title>Cadastrar campo</mat-card-title>
    </mat-card-header>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-card-content>
        <div class="field__form">
          <div class="field__group">
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Descrição</mat-label>
              <textarea matInput formControlName="description" [rows]="5"></textarea>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions class="field__actions">
        <button type="button" mat-button routerLink=".." [disabled]="submitting">Cancelar</button>
        <button mat-raised-button color="primary" [disabled]="submitting">
          <mat-icon>save</mat-icon>
          Salvar
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
