<mat-card class="list">
  <mat-card-header class="list__header">
    <mat-card-title>Campos</mat-card-title>
    <mat-card-subtitle>Gerencie os campos da aplicação</mat-card-subtitle>
    <button mat-raised-button color="primary" routerLink="novo">
      <mat-icon>add</mat-icon>
      Adicionar
    </button>
  </mat-card-header>

  <mat-card-content>
    <ng-container *ngIf="dataSource$ | async as data; else LoadingTemplate">
      <ng-container *ngIf="data?.length; else EmptyTemplate">
        <table mat-table [dataSource]="data" class="list__table">
          <ng-container matColumnDef="name">
            <th class="list__name" mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let element">
              <a class="list__go" routerLink="/painel/campos/{{ element.id }}/detalhes">
                {{ element.name }}
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th class="list__action" mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <div class="list__action-row">
                <app-edit-btn [id]="element.id"></app-edit-btn>
                <app-remove-btn (remove)="remove(element.id)"></app-remove-btn>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #LoadingTemplate>
  <div class="list__loading">
    <mat-progress-spinner mode="indeterminate" [diameter]="25"></mat-progress-spinner>
    <b>Carregando...</b>
  </div>
</ng-template>

<ng-template #EmptyTemplate>
  <div class="list__loading">
    <mat-icon>inbox</mat-icon>
    <b>Não há nenhum campo cadastrado, <a routerLink="novo">clique aqui para cadastrar!</a></b>
  </div>
</ng-template>
