<app-auth-container>
  <div class="recovery">
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="recovery__form">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>E-mail</mat-label>
        <input formControlName="email" matInput/>
      </mat-form-field>

      <button class="recovery__submit" color="accent" mat-raised-button>
        Enviar
      </button>
    </form>

    <div class="recovery__back">
      <button mat-button routerLink="/login">voltar</button>
    </div>
  </div>
</app-auth-container>
