<app-auth-container>
  <div class="login">
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="login__form">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>E-mail</mat-label>
        <input formControlName="email" matInput/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input formControlName="password" matInput type="password"/>
      </mat-form-field>

      <div class="login__submit">
        <button class="login__enter" color="accent" mat-raised-button>Entrar</button>
      </div>
    </form>

    <a class="login__forgot" routerLink="/login/recuperacao">Esqueceu sua senha? Clique aqui</a>

    <span class="login__or">ou</span>

    <div class="login__authentication">
      <button (click)="signInWithGoogleAccount()" class="login__auth-btn" mat-icon-button>
        <mat-icon svgIcon="google"></mat-icon>
        Faça login com sua conta Google
      </button>
    </div>
  </div>
</app-auth-container>
