<div class="timepicker">
  <div class="timepicker__field">
    <button (click)="increment('hour', iptHour)" [disableRipple]="true" [disabled]="disabled" mat-icon-button type="button">
      <mat-icon>expand_less</mat-icon>
    </button>
    <mat-form-field appearance="outline">
      <input #iptHour [max]="23" [min]="0" [readonly]="true" [value]="hour | number: '2.0-0'" matInput/>
    </mat-form-field>
    <button (click)="decrement('hour',iptHour)" [disableRipple]="true" [disabled]="disabled" mat-icon-button type="button">
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
  <b>:</b>
  <div class="timepicker__field">
    <button (click)="increment('minute', iptMinute)" [disableRipple]="true" [disabled]="disabled" mat-icon-button type="button">
      <mat-icon>expand_less</mat-icon>
    </button>
    <mat-form-field appearance="outline">
      <input #iptMinute [max]="59" [min]="0" [readonly]="true" [value]="minute | number: '2.0-0'" matInput/>
    </mat-form-field>
    <button (click)="decrement('minute', iptMinute)" [disableRipple]="true" [disabled]="disabled" mat-icon-button type="button">
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
</div>
