<div class="scheduling">
  <div class="scheduling__card">
    <div class="scheduling__header">
      <h1 class="scheduling__title">
        Agendar
      </h1>
    </div>

    <form (ngSubmit)="submit()" [formGroup]="form" class="scheduling__container">
      <div class="scheduling__row">
        <mat-form-field appearance="outline">
          <mat-label>Data</mat-label>
          <input [readonly]="true" [value]="form.get('date')!.value | date: 'dd/MM/yyyy'" matInput/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Horário</mat-label>
          <input [readonly]="true" [value]="form.get('date')!.value + ' ' + (form.get('hour')!.value | transformValueToLabel) | date: 'HH:mm a'"
                 matInput/>
        </mat-form-field>
      </div>

      <div class="scheduling__row">
        <mat-checkbox
          (change)="onHasFoodChange()"
          [(ngModel)]="hasFood"
          [ngModelOptions]="{ standalone: true }"
          color="primary">
          Possui comida?
        </mat-checkbox>
      </div>

      <div [@expandAnimation]="hasFood" class="scheduling__food">
        <ng-container *ngIf="hasFood" formGroupName="food">
          <div class="scheduling__row">
            <mat-form-field appearance="outline">
              <mat-label>Quantidade de pessoas</mat-label>
              <input [min]="1" formControlName="peopleNumber" matInput type="number"/>
              <mat-error *ngIf="form.get('food.peopleNumber')?.touched && form.get('food.peopleNumber')?.hasError('required')"></mat-error>
            </mat-form-field>
          </div>

          <div class="scheduling__group">
            <app-food-types formControlName="foodTypes"></app-food-types>
            <mat-error *ngIf="form.get('food.foodTypes')?.touched && form.get('food.foodTypes')?.hasError('required')">
              Selecione um tipo de comida!
            </mat-error>
          </div>

          <div class="scheduling__row scheduling__row--full">
            <mat-form-field appearance="outline">
              <mat-label>Observação</mat-label>
              <textarea [rows]="4" formControlName="obs" matInput></textarea>
            </mat-form-field>
          </div>

          <div class="scheduling__row">
            <label class="scheduling__info">*Valor será cobrado a parte</label>
          </div>
        </ng-container>
      </div>

      <div class="scheduling__row scheduling__row--center">
        <button color="primary" mat-raised-button>Agendar</button>
      </div>
    </form>
  </div>
</div>
