.home {
  background: #fff;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    width: 70%;
    max-width: 600px;
    height: fit-content;
  }

  &__navigation {
    position: relative;
  }

  &__panel {
    width: 100px;
    font-size: 10px;
    color: #c5c5c5;
    font-weight: 600;
    position:  absolute;
    right: 0;
    justify-items: flex-end;
  }
}
